/*****************************/
/* home index */
/*****************************/
body#home-index > section{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content:center;
            justify-content: center;
    -webkit-flex-direction: column;
            flex-direction: column;}



body#home-index .logo_icon{
    width: 100%;
    height: 120px;
    background-image: url(images/layers.svg);
    background-size: 100px;
    background-position: center 0;
    background-repeat: no-repeat;}

body#home-index h1.main_title{
    font-size: 54px;
    line-height: 54px;
    padding: 0 0 5px 0;}

body#home-index h2.sub_title{
    font-family: 'dk_quid_pro_quoregular';
    font-size: 36px;
    line-height: 36px;
    text-transform: lowercase;
    padding: 0;}



body#home-index #intro{
    margin: 80px 0;
    text-align: center;}

    body#home-index #intro > p{
        font-size: 16px;}

    body#home-index ul{
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;}

        body#home-index ul li{
            width: 100px;
            margin: 0 15px;
            text-align: center;}

            body#home-index ul li p{
                font-size: 12px;}

            body#home-index ul li div{
                width: 100%;
                height: 50px;
                margin-bottom: 10px;
                background-repeat: no-repeat;
                background-position: center center;}

            body#home-index ul li:first-child div{
                background-image: url(images/piggy-bank-1.svg);}

            body#home-index ul li:nth-child(2) div{
                background-image: url(images/tic-tac-toe.svg);}

            body#home-index ul li:nth-child(3) div{
                background-image: url(images/technology-1.svg);}

            body#home-index ul li:nth-child(4) div{
                background-image: url(images/png.svg);}



body#home-index #wrapper-choice{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}

    body#home-index #wrapper-choice button{
        margin: 0 20px;}



body#home-index .dialog a{
    display: block;
    font-size: 12px;
    text-align: left;
    color: #959494;
    cursor: pointer;}

body#home-index .dialog a:hover{
    color: #f35f5f;}

body#home-index .dialog button[data-dialog='user_create']{
    display: block;
    border: 0;
    background-color: transparent;}

body#home-index .dialog button[data-dialog='user_create']:hover{
    color: #0e83cd;}
