<footer>
	<div class="wrapper-entity">
		<div>
			<%= image_tag("ucv.png", alt: "UCV", height: "35") %>
			<p>Universidad <br>Central de<br> Venezuela</p>
		</div>
		<div>
			<%= image_tag("fc.png", alt: "Ciencias", height: "35") %>
			<p>Facultad<br> de Ciencias</p>
		</div>
		<!--<div>
			<%= image_tag("ec.png", alt: "Ciencias", height: "35") %>
			<p>Escuela de<br> Computación</p>
		</div>-->
		<div>
			<%= image_tag("cec.png", alt: "Ciencias", height: "35") %>
			<p>Centro de<br> Computación<br> Gráfica</p>
		</div>
	</div>
	<div class="wrapper-legal">
		<p>Todos los derechos reservados © COPYRIGHT 2016</p>
	</div>
</footer>